Embedder/__pycache__/
*.pyc
Embedder/__pycache__/embed.cpython-310.pyc
asset/
.asset/data/chroma.sqlite3
Embedder/__pycache__/embed.cpython-310.pyc
Utils/config.py
Utils/__pycache__/__init__.cpython-310.pyc
.DS_Store
.DS_Store
Retrieve/retrieve.py
Utils/__pycache__/__init__.cpython-310.pyc
Generate/generate.py
